page-home {

  ion-img {
     display: inline-block; 
     min-width: 20px; 
     min-height: 20px; 
     background: #eee; 
     contain: initial; 
  }

  .event-group {
      stroke: transparent;
      fill: rgba(0,0,0,.54);
      color: rgba(0,0,0,.54);
      text-transform: uppercase;
      font-size: 13px;
  }

  .event-name {
      color: black;
  }

  h1 {
      margin-top: 1.2rem;
      font-size: 2.4rem;
  }

  h6 {
    ion-icon {
      margin-left: 2px;
    }
  }

  h3, .segment-button {
    color: white !important;
  }

  ion-searchbar{
    padding: 8px !important;
  }

  .selected-topics {
    overflow: auto;
    display: flex;
  }

  .slide-zoom {
    height: 100%;
    color: white;
  }

  hr {
    background-color: white !important;
  }

  .semi-transparent {
    color : transparentize(white, 0.5) !important;
  }

  .word-wrap {
    word-wrap: break-word;
    white-space:normal;
  }

  .segment-button.segment-activated{
    border-bottom-color: #ffffff !important;
    opacity: .7;
  }

  .toolbar .searchbar-ios .searchbar-input {
    background: #ffffff;
  }

  .segment-ios .segment-button {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 0;
      height: 3.2rem;
      border: none;
      font-size: 1.3rem;
      line-height: 3rem;
      background-color: transparent;
      border-color: rgb(237,28,64);
  }

  .segment-ios .segment-button.segment-activated {
      color: #fff;
      background-color: rgb(237,28,64);
      opacity: 1;
      transition: 100ms all linear;
      border-width: 2px;
      border-style: solid;
      border-bottom-color: white;
  }

  .mt-header {
    background: transparentize(rgb(237,28,64), 0.2);
    margin: 0;
    color: white;
  }

  .customTitle {
    background: transparentize(rgb(237,28,64), 0.2) !important;
    margin: 0;
    color: white;
     padding: 5px 20px 10px 20px;
  }
}