<ion-header>
  <ion-searchbar #searchbar placeholder="Search city or address"></ion-searchbar>
</ion-header>

<ion-content class="primary-font">

  <div class="mt-header">
    <div class="customTitle">
      <h1 *ngIf="view == 'meetups'">Upcoming Meetups</h1>
      <h1 *ngIf="view == 'groups'">Meetup Groups</h1>
    </div>
    <ion-segment [(ngModel)]="view" mode="md">
      <ion-segment-button value="meetups" ion-text color="white">
        Meetups
      </ion-segment-button>
      <ion-segment-button value="groups">
        Groups
      </ion-segment-button>
    </ion-segment>
  </div>

  <div padding class="selected-topics">
    <ion-chip *ngFor="let topic of selectedTopics$ | async">
      <ion-label>{{ topic }}</ion-label>
      <button ion-button clear (click)="deleteTopic(topic)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let event of meetups$ | async">
        <ion-card (click)="goToDetail(event)">
          <ion-card-header>
            <h2 class="word-wrap secondary-font" [innerHTML]="event.name"></h2>
          </ion-card-header>
          <ion-card-content>
            <small class="semi-transparent">on {{event.time | date}}</small>
            <small class="semi-transparent"> , Distance: {{event.distance | distance}}</small>
            <h6 class="secondary-font">At
              <span *ngIf="!event.venue?.name">Undisclosed</span>
              <span *ngIf="event.venue?.name">{{event.venue?.name}}</span>
              <span *ngIf="!event.venue?.address_1"></span>
              <span *ngIf="event.venue?.address_1"> , {{event.venue?.address_1}}</span>
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>