<ion-header>
  <ion-searchbar #searchbar placeholder="Search city or address"></ion-searchbar>
</ion-header>

<ion-content class="primary-font">

  <div class="mt-header">
    <div class="customTitle">
      <h1 *ngIf="view == 'meetups'">Upcoming Meetups</h1>
      <h1 *ngIf="view == 'groups'">Meetup Groups</h1>
    </div>
    <ion-segment [(ngModel)]="view" mode="md">
      <ion-segment-button value="meetups" ion-text color="white">
        Meetups
      </ion-segment-button>
      <ion-segment-button value="groups">
        Groups
      </ion-segment-button>
    </ion-segment>
  </div>

   <div padding class="selected-topics">
    <ion-chip *ngFor="let topic of selectedTopics">
      <ion-label>{{ topic }}</ion-label>
      <button ion-button clear (click)="deleteTopic(topic)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>
  </div>

</ion-content>