page-home {

  .event-group {
      stroke: transparent;
      fill: rgba(0,0,0,.54);
      color: rgba(0,0,0,.54);
      text-transform: uppercase;
      font-size: 13px;
  }

  .event-name {
      color: black;
      //font-weight: bold;
  }

h1 {
    margin-top: 1.2rem;
    font-size: 2.4rem;
}

  h6 {
    ion-icon {
      margin-left: 2px;
    }
  }

  h3, .segment-button {
    color: white !important;
  }

  ion-searchbar{
    padding: 8px !important;
  }

  .selected-topics {
    overflow: auto;
    display: flex;
  }

  .slide-zoom {
    height: 100%;
    color: white;
  }

  hr {
    background-color: white !important;
  }

  .semi-transparent {
    color : transparentize(white, 0.5) !important;
  }

  .word-wrap {
    word-wrap: break-word;
    white-space:normal;
  }

  .segment-button.segment-activated{
    border-bottom-color: #ffffff !important;
    opacity: .7;
  }

  .toolbar .searchbar-ios .searchbar-input {
    background: #ffffff;
  }

  .segment-ios .segment-button {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 0;
      height: 3.2rem;
      border: none;
      font-size: 1.3rem;
      line-height: 3rem;
      background-color: transparent;
      border-color: rgb(237,28,64);
  }

  .segment-ios .segment-button.segment-activated {
      color: #fff;
      background-color: rgb(237,28,64);
      opacity: 1;
      transition: 100ms all linear;
      border-width: 2px;
      border-style: solid;
      border-bottom-color: white;
  }

  .mt-header {
    background: transparentize(rgb(237,28,64), 0.2);
    margin: 0;
    color: white;
  }

  .customTitle {
    background: transparentize(rgb(237,28,64), 0.2) !important;
    margin: 0;
    color: white;
     padding: 5px 20px 10px 20px;
  }

  ion-card {
    &.card-md, &.card-ios, &.card-wp {

      border-radius: 5px;
          margin: 5px;
    width: calc(100% - 10px);
      box-shadow: none;
      background: #404654;
      .card-header{
        &.card-header-md, &.card-header-ios, &.card-header-wp {
          h1,h2,h3,h4,h5,h6 {
            color: white;
          }
        }
      }
    }

    ion-card-content {
      &.card-content-md, &.card-content-ios, &.card-content-wp {
        h1,h2,h3,h4,h5,h6, p {
          color: white;
        }
      }
    }
  }

  .fab{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

ion-tabs > div.tabbar.show-tabbar {
  background: darken(#404654, 10%);
  a.tab-button[aria-selected=true] .tab-button-icon {
    color: white;
  }
  a.tab-button, a.tab-button ion-icon {
    color : white;
  }
}
